:root {
  /** Text */
  --color-text-body: #28303c;
  --color-text-description: #28303c;
  --color-text-placeholder: #364051;
  --color-text-on-fill: #fef8e7;
  --color-text-link: #729168;
  --color-text-visited: #525e78;
  --color-text-alert: #364051;
  --color-text-disabled: #7080a2;

  /** Icon */
  --color-icon-label: #1a1a1c;
  --color-icon-active: #003ee5;
  --color-icon-alert: #ec0000;
  --color-icon-disabled: #949497;

  /** Button */
  --color-button-normal: #86ab7a;
  --color-button-hover: #9ac58c;
  --color-button-active: #729168;
  --color-button-disabled: #7080a2;

  /** Background */
  --color-background-primary: #fef8e7;
  --color-background-secondary: #d8d3c4;
  --color-background-tertiary: #ffffff;

  /** Border */
  --color-border-field: #28303c;
  --color-border-divider: #28303c;
  --color-border-focused: #9ac58c;
  --color-border-selected: #729168;
  --color-border-alert: #ec0000;
  --color-border-disabled: #7080a2;
}

:root[data-theme='dark'] {
  /** TODO: ダークモード */
  --color-text-body: #1a1a1c;
}
