*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-primary);
  background-image: url("/textures/bg-paper.jpg");
  background-repeat: round;
  color: var(--color-text-body);
  overflow-x: hidden;
}

svg {
  fill: currentcolor;
}

path {
  stroke: currentcolor;
}

input,
button,
textarea,
select {
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
