:root {
  /**
   * Spacing
   *  - https://www.figma.com/file/BKOXKQ0Z2exHnOSkIVLRVq/Design-System-1.2.1-(Community)?type=design&node-id=6497-6056&t=VMO7qh6abWyEjcYC-4
   */
  --space-x-xxs: 4px;
  --space-y-xxs: 0.25rem;
  --space-x-xs: 8px;
  --space-y-xs: 0.5rem;
  --space-x-s: 16px;
  --space-y-s: 1rem;
  --space-x-m: 24px;
  --space-y-m: 1.5rem;
  --space-x-l: 40px;
  --space-y-l: 2.5rem;
  --space-x-xl: 64px;
  --space-y-xl: 4rem;
  --space-x-xxl: 104px;
  --space-y-xxl: 6.5rem;
}
