---
import '../style.css'

const personResponse = await fetch('https://randomuser.me/api/');
const personData = await personResponse.json();
const randomPerson = personData.results[0];

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Deno+Astro</title>
	</head>
	<body>
		<h1>Deno + Astro</h1>
		<h2>A random user</h2>
		<section class="profile">
			<div>
				<p>Name: {randomPerson.name.first}</p>
				<p>age: {randomPerson.dob.age}</p>
			</div>
			<img src={randomPerson.picture.medium} alt="user picture">
		</section>
	</body>
</html>

<style>
	.profile {
		display: flex;
		gap: 10px;
	}
</style>
